
#
# Binaries for programs and plugins
# Dependency directories (remove the comment below to include it)
*.dll
*.dylib
.env
# env file
*.exe
*.exe~
go.work
# Go workspace file
go.work.sum
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# If you prefer the allow list template instead of the deny list, see community template:
lisette/
main*.output
*.out
# Output of the go coverage tool, specifically when used with LiteIDE
*.so
temp/
*.test
# Test binary, built with `go test -c`
# vendor/
y.output
